body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #707070;
  }
}

ul {
  list-style: none;
  padding: 0;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  // 导航条
  .nav {
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;

    .container {
      max-width: 100%;

      .col-6 {
        padding: 0;

        .col {
          padding: 0;

          .nav-title {
            color: #2d8cf0;
            font-size: 22px;
            font-weight: 700;
          }

          .nav-right {
            float: right;

            .create {
              border-radius: 16px;
              border: 1px solid #e7eaf3;
              width: 60px;
              height: 32px;
              line-height: 18px;
              margin-right: 6px;
              color: #515a6e;
              font-size: 14px;
              background-color: #ffffff;
            }

            .login {
              border-radius: 16px;
              font-size: 14px;
              width: 60px;
              height: 32px;
              line-height: 18px;
            }

            .dropdown-toggle {
              height: 60px;
              line-height: 60px;
              padding: 0 1.5rem;
              font-size: 14px;
            }

            .dropdown-item {
              height: 28px;
              line-height: 18px;
              font-size: 14px;

            }

            li {
              .show {
                left: 28px !important;
                min-width: 33px;

                form {
                  position: absolute;
                  bottom: 9px;

                  button {
                    height: 26px;
                    line-height: 13px;
                    font-size: 14px;
                  }
                }

              }
            }
          }

          .flex-nowrap {
            height: 62px;

            input {
              width: 50%;
              margin: 14px 60px;
              border-radius: 20px;
              height: 33px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }


  // 内容
  .content {
    .container {
      max-width: 100%;

      .col-6 {
        padding: 0;

        .col-8 {
          padding: 0;

          .posts-container {
            height: auto;
            margin-top: 10px;
            width: 105%;
            background: #ffffff;
            border-radius: 0.25rem;
            border: 1px solid #e7eaf3;
            box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

            hr {
              margin: 0;
            }

            .posts-addons {
              border-bottom: 1px solid #efefef;
              width: 100%;
              padding: 26px;

              .posts-filter-wrap {
                div {
                  float: left;
                }

                margin: 0 0 20px 0;

                .filter-item {
                  width: 80px;
                  text-align: center;

                  a {

                    font-size: 13px;
                    color: #77838f;
                  }
                }
              }
            }



            .posts-create {
              position: absolute;
              right: -12px;
              top: 31px;

              .btn-primary {
                width: 77px;
                height: 32px;
                line-height: 18px;
                font-size: 14px;

                span {
                  font-size: 12px;
                  margin-right: 4px;
                }
              }
            }

            .post-item {
              width: 100%;
              border-bottom: 1px solid #efefef;
              display: flex;

              img {
                width: 100%;
                height: auto;
                border-radius: 0.25rem;
              }

              &:hover {
                background-color: #f7f9fb;
              }

              .post-item-userinfo {
                margin: 25px 20px;
                float: left;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%
                }
              }

              .post-item-content {
                padding: 25px 20px 25px 10px;
                width: 100%;
                float: initial;

                .nickname {
                  color: #14171a;
                  font-size: 14px;
                  font-weight: 700;
                }

                .time {
                  margin-left: 10px;
                  font-size: 12px;
                  color: #657786;
                }

                .post-item-content-text {
                  font-size: 14px;
                  line-height: 24px;
                  margin: 4px 0;
                  text-align: justify;

                  a {
                    color: #495060;
                  }
                }

              }

              .post-item-praise {
                width: 80px;
                height: 100px;

                .praise-wrap {
                  width: 50px;
                  height: 50px;
                  line-height: 35px;
                  background: #f7f9fb;
                  margin: 25px 20px 25px 10px;
                  border-radius: 3px;

                  .praise-bottom {
                    width: 100%;
                    text-align: center;

                    .number {
                      position: relative;
                      top: -18px;
                      font-size: 12px;
                    }
                  }
                }
              }

              nav {
                margin: 20px;

                ul {
                  margin: 0;

                  li {
                    padding-right: 10px;
                  }
                }
              }
            }

             .eeee666666{
               width: 132px;
               position: relative;
               top: 30px;
            }

          }
        }

        .col-4 {
          padding: 0;

          .sidebar {
            height: auto;
            background-color: #ffffff;
            margin-top: 10px;
            border-radius: 0.25rem;
            border: 1px solid #e7eaf3;
            width: 86.7%;
            float: right;
            box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

            div {
              float: none;
            }

            .main-list {

              a {
                color: #657786;

                span {
                  position: relative;
                  top: 1px;
                  margin-right: 20px;
                  font-weight: 700;
                }

                .group-item {
                  font-size: 14px;
                  padding: 10px 0;
                  border-bottom: 1px solid #efefef;
                  padding-left: 7%;
                }
              }

              a:hover {
                color: #84929e;
              }
            }

            .links-wrap {
              margin: 13px 10px 0;
              font-size: 12px;
            }

            .foot {
              margin: 13px 10px;

              .form-group {
                margin-bottom: 1.65rem;

                .col-md-6 {
                  max-width: 100%;
                  width: 100%;

                  input {
                    width: 244px;
                  }

                  img {
                    position: absolute;
                    width: 118px;
                    top: -14px;
                    right: 16px;
                  }
                }

                a {
                  color: blue;
                }
              }

              .offset-md-4 {
                margin: 0;

                button {
                  width: 244px;
                }
              }


              img {
                width: 50%;
                margin: 0 auto;
                display: block;
              }

              .form-check-input {
                width: 16px;
                height: 16px;
                top: -4px;
              }

              .btn-link {
                font-size: 14px;
              }
            }
          }
        }

      }
    }
  }

  .layout-footer {
    padding: 24px 0;

    .footer-wrap {
      height: 100%;
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      text-align: center;

      .footer-container {
        color: #9399a6;
        font-size: 14px;

        a {
          color: #7db7f4;
          font-size: 14px;
        }
      }
    }
  }

  //   个人页面
  .posts-container {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

    .card-body {
      padding-bottom: 20px;
    }
  }

  .user-show {
    .col-8 {
      .posts-container {
        box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

        .ivu-menu-item {
          font-size: 14px;
          margin: 0 19px;
          width: 60px;
          height: 60px;
          line-height: 60px;
        }

        .card-body-sky {
          height: 300px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          img {
            width: 150px;
          }

          .sky {
            height: 64px;
            line-height: 64px;
            font-size: 14px;
            color: #a8b7c7;
          }
        }
      }
    }

    .col-4 {
      .sidebar {
        box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

        .user-bg {
          height: 100px;
          background: #2d8cf0;
          border-radius: 0.25rem 0.25rem 0 0;
        }

        .user-info {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;

          margin: -20px 16px 0;

          .user-avatar {
            border-radius: 5px;
            border: 3px solid #fff;

            img {
              display: block;
              border-radius: 5px;
              width: 60px;
              height: 60px;
            }
          }

          .user-name {
            height: 34px;
            color: #5c7390;
            position: relative;
            margin-left: 10px;
          }
        }

        .card-body {
          margin-top: 10px;
          font-size: 14px;
          letter-spacing: 2px;
          color: #465f70;
          padding: 0 0 0 20px;
        }

        .statistics {
          .statistic {
            float: left !important;
            width: 50%;
            height: inherit;
            text-align: center;
            margin: 30px 0 30px 0;
          }
        }

      }
    }
  }

  .user-edit {
    .col-8 {
      .posts-container {
        box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

        .ivu-form-item {
          .ivu-form-item-content {
            margin: 60px 30px;

            .portrait {
              margin-left: 80px;

              img {
                display: block;
                border-radius: 5px;
                width: 100px;
                height: 100px;
              }
            }

            .ivu-information {
              margin: 24px 0;

              label {
                float: left;
                font-size: 14px;
                color: #515a6e;
                line-height: 10.75px;
                padding: 10px 12px 10px 0;
                width: 80px;
                text-align: right;
              }

              .ivu-input-type-text {
                margin-left: 80px;
                position: relative;
                font-size: 14px;

                .ivu-input-box {
                  width: 300px;
                  max-width: 100%;

                  input {
                    background-color: #f7f9fb;
                    font-size: 14px;
                    height: 30px;
                  }

                  input::-webkit-input-placeholder {
                    color: #c5c8ce;
                  }

                  input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #c5c8ce;
                  }

                  input:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #c5c8ce;
                  }

                  input:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #c5c8ce;
                  }

                  textarea {
                    background-color: #f7f9fb;
                    font-size: 14px;
                    height: 110px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .col-4 {
      .sidebar {
        box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);

        .user-bg {
          height: 100px;
          background: #2d8cf0;
          border-radius: 0.25rem 0.25rem 0 0;
        }

        .user-info {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;

          margin: -20px 16px 0;

          .user-avatar {
            border-radius: 5px;
            border: 3px solid #fff;

            img {
              display: block;
              border-radius: 5px;
              width: 60px;
              height: 60px;
            }
          }

          .user-name {
            height: 34px;
            color: #5c7390;
            position: relative;
            margin-left: 10px;
          }
        }

        .card-body {
          margin-top: 15px;
          padding: 0 0 0 20px;
        }

        .menu-modify {
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          padding-left: 20px;

          &:hover {
            background-color: #f0faff;
            color: #2d8cf0;
          }
        }
      }
    }
  }

  // 发布文章页面
  .article-create {
    background-color: #ffffff;
    margin: 10px 16.5%;
    border-top: 2px solid #dce8f9;
    box-shadow: 0 0 1px #d3dce7;

    .compose-wrap {
      min-height: 500px;
      align-items: flex-start;
      justify-content: center;
      padding: 0 10% 30px;

      .type {
        margin: 0 197px;

        .ivu-radio-group-button {
          border-radius: 0 0 10px 10px !important;
          overflow: hidden;


          .vu-radio-default {
            width: 58px;
            text-align: center;
            height: 32px;
            line-height: 32px;
            color: #2d8cf0;
            font-size: 14px;
            background-color: #dce8f9;
            float: left;
          }
        }
      }

      .article {
        .form-group {
          margin: 10px 0;

          input {
            height: 32px;
            font-size: 14px;
            border-radius: 0;
            border: none;
            resize: none;
            padding: 10px;
            background-color: #fafafa;
          }

          input::-webkit-input-placeholder {
            color: #c5c8ce;
          }

          input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #c5c8ce;
          }

          input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #c5c8ce;
          }

          input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #c5c8ce;
          }

          .simditor-wrapper {
            background-color: #fafafa;

            .simditor-placeholder {
              font-size: 14px;
            }

            img {
              max-width: 100%;
              height: auto;
            }
          }

          select {
            width: 92px;
            height: 23px;
            font-size: 14px;
            position: absolute;
            top: 76px;
            padding: 0 0 0 7px;
            border-radius: 25px;
            background-color: #dce8f9;
            color: #2d8cf0;

            option {
              font-size: 14px;
            }
          }
        }

        .well-sm {
          float: right;
          margin: 19px 0 13px;

          button {
            height: 32px;
            width: 60px;
            line-height: 18px;
            font-size: 14px;
            background-color: #2d8cf0;
            border-color: #2d8cf0;
          }
        }

        .type-warpper {
          .type-btn {
            width: 33.3333%;
            height: 100px;
            line-height: 100px;
            text-align: center;
            float: left;
            background-color: #f7f9fb;
            font-size: 15px;
            color: #77838f;

            &:hover {
              background-color: #f0f7ff;
            }
          }

          .img-btn {
            line-height: 20px;
            padding-top: 32px;

            input {
              width: 80px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }

}


.offset-md-2 {
  padding-top: 30px;
}
