@charset "UTF-8";

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #707070;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .nav {
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
  }

  .nav .container {
    max-width: 100%;
  }

  .nav .container .col-6 {
    padding: 0;
  }

  .nav .container .col-6 .col {
    padding: 0;
  }

  .nav .container .col-6 .col .nav-title {
    color: #2d8cf0;
    font-size: 22px;
    font-weight: 700;
  }

  .nav .container .col-6 .col .nav-right {
    float: right;
  }

  .nav .container .col-6 .col .nav-right .create {
    border-radius: 16px;
    border: 1px solid #e7eaf3;
    width: 60px;
    height: 32px;
    line-height: 18px;
    margin-right: 6px;
    color: #515a6e;
    font-size: 14px;
    background-color: #ffffff;
  }

  .nav .container .col-6 .col .nav-right .login {
    border-radius: 16px;
    font-size: 14px;
    width: 60px;
    height: 32px;
    line-height: 18px;
  }

  .nav .container .col-6 .col .nav-right .dropdown-toggle {
    height: 60px;
    line-height: 60px;
    padding: 0 1.5rem;
    font-size: 14px;
  }

  .nav .container .col-6 .col .nav-right .dropdown-item {
    height: 28px;
    line-height: 18px;
    font-size: 14px;
  }

  .nav .container .col-6 .col .nav-right li .show {
    left: 28px !important;
    min-width: 33px;
  }

  .nav .container .col-6 .col .nav-right li .show form {
    position: absolute;
    bottom: 9px;
  }

  .nav .container .col-6 .col .nav-right li .show form button {
    height: 26px;
    line-height: 13px;
    font-size: 14px;
  }

  .nav .container .col-6 .col .flex-nowrap {
    height: 62px;
  }

  .nav .container .col-6 .col .flex-nowrap input {
    width: 50%;
    margin: 14px 60px;
    border-radius: 20px;
    height: 33px;
    font-size: 14px;
  }

  .content .container {
    max-width: 100%;
  }

  .content .container .col-6 {
    padding: 0;
  }

  .content .container .col-6 .col-8 {
    padding: 0;
  }

  .content .container .col-6 .col-8 .posts-container {
    height: auto;
    margin-top: 10px;
    width: 105%;
    background: #ffffff;
    border-radius: 0.25rem;
    border: 1px solid #e7eaf3;
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .content .container .col-6 .col-8 .posts-container hr {
    margin: 0;
  }

  .content .container .col-6 .col-8 .posts-container .posts-addons {
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding: 26px;
  }

  .content .container .col-6 .col-8 .posts-container .posts-addons .posts-filter-wrap {
    margin: 0 0 20px 0;
  }

  .content .container .col-6 .col-8 .posts-container .posts-addons .posts-filter-wrap div {
    float: left;
  }

  .content .container .col-6 .col-8 .posts-container .posts-addons .posts-filter-wrap .filter-item {
    width: 80px;
    text-align: center;
  }

  .content .container .col-6 .col-8 .posts-container .posts-addons .posts-filter-wrap .filter-item a {
    font-size: 13px;
    color: #77838f;
  }

  .content .container .col-6 .col-8 .posts-container .posts-create {
    position: absolute;
    right: -12px;
    top: 31px;
  }

  .content .container .col-6 .col-8 .posts-container .posts-create .btn-primary {
    width: 77px;
    height: 32px;
    line-height: 18px;
    font-size: 14px;
  }

  .content .container .col-6 .col-8 .posts-container .posts-create .btn-primary span {
    font-size: 12px;
    margin-right: 4px;
  }

  .content .container .col-6 .col-8 .posts-container .post-item {
    width: 100%;
    border-bottom: 1px solid #efefef;
    display: flex;
  }

  .content .container .col-6 .col-8 .posts-container .post-item img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }

  .content .container .col-6 .col-8 .posts-container .post-item:hover {
    background-color: #f7f9fb;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-userinfo {
    margin: 25px 20px;
    position: relative;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-userinfo img {
    width: 214px;
    height: 50px;
    border-radius: 50%;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-content {
    padding: 25px 20px 25px 0;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-content .nickname {
    color: #14171a;
    font-size: 14px;
    font-weight: 700;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-content .time {
    margin-left: 10px;
    font-size: 12px;
    color: #657786;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-content .post-item-content-text {
    font-size: 14px;
    line-height: 24px;
    margin: 4px 0;
    text-align: justify;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-content .post-item-content-text a {
    color: #495060;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-praise {
    width: 80px;
    height: 100px;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-praise .praise-wrap {
    width: 50px;
    height: 50px;
    line-height: 35px;
    background: #f7f9fb;
    margin: 25px 20px 25px 10px;
    border-radius: 3px;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-praise .praise-wrap .praise-bottom {
    width: 100%;
    text-align: center;
  }

  .content .container .col-6 .col-8 .posts-container .post-item .post-item-praise .praise-wrap .praise-bottom .number {
    position: relative;
    top: -18px;
    font-size: 12px;
  }

  .content .container .col-6 .col-8 .posts-container .post-item nav {
    margin: 20px;
  }

  .content .container .col-6 .col-8 .posts-container .post-item nav ul {
    margin: 0;
  }

  .content .container .col-6 .col-8 .posts-container .post-item nav ul li {
    padding-right: 10px;
  }

  .content .container .col-6 .col-4 {
    padding: 0;
  }

  .content .container .col-6 .col-4 .sidebar {
    height: auto;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 0.25rem;
    border: 1px solid #e7eaf3;
    width: 86.7%;
    float: right;
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .content .container .col-6 .col-4 .sidebar div {
    float: none;
  }

  .content .container .col-6 .col-4 .sidebar .main-list a {
    color: #657786;
  }

  .content .container .col-6 .col-4 .sidebar .main-list a span {
    position: relative;
    top: 1px;
    margin-right: 20px;
    font-weight: 700;
  }

  .content .container .col-6 .col-4 .sidebar .main-list a .group-item {
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    padding-left: 7%;
  }

  .content .container .col-6 .col-4 .sidebar .main-list a:hover {
    color: #84929e;
  }

  .content .container .col-6 .col-4 .sidebar .links-wrap {
    margin: 13px 10px 0;
    font-size: 12px;
  }

  .content .container .col-6 .col-4 .sidebar .foot {
    margin: 13px 10px;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-group {
    margin-bottom: 1.65rem;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-group .col-md-6 {
    max-width: 100%;
    width: 100%;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-group .col-md-6 input {
    width: 244px;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-group .col-md-6 img {
    position: absolute;
    width: 118px;
    top: -14px;
    right: 16px;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-group a {
    color: blue;
  }

  .content .container .col-6 .col-4 .sidebar .foot .offset-md-4 {
    margin: 0;
  }

  .content .container .col-6 .col-4 .sidebar .foot .offset-md-4 button {
    width: 244px;
  }

  .content .container .col-6 .col-4 .sidebar .foot img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .content .container .col-6 .col-4 .sidebar .foot .form-check-input {
    width: 16px;
    height: 16px;
    top: -4px;
  }

  .content .container .col-6 .col-4 .sidebar .foot .btn-link {
    font-size: 14px;
  }

  .layout-footer {
    padding: 24px 0;
  }

  .layout-footer .footer-wrap {
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .layout-footer .footer-wrap .footer-container {
    color: #9399a6;
    font-size: 14px;
  }

  .layout-footer .footer-wrap .footer-container a {
    color: #7db7f4;
    font-size: 14px;
  }

  .posts-container {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .posts-container .card-body {
    padding-bottom: 20px;
  }

  .user-show .col-8 .posts-container {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .user-show .col-8 .posts-container .ivu-menu-item {
    font-size: 14px;
    margin: 0 19px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .user-show .col-8 .posts-container .card-body-sky {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .user-show .col-8 .posts-container .card-body-sky img {
    width: 150px;
  }

  .user-show .col-8 .posts-container .card-body-sky .sky {
    height: 64px;
    line-height: 64px;
    font-size: 14px;
    color: #a8b7c7;
  }

  .user-show .col-4 .sidebar {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .user-show .col-4 .sidebar .user-bg {
    height: 100px;
    background: #2d8cf0;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .user-show .col-4 .sidebar .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin: -20px 16px 0;
  }

  .user-show .col-4 .sidebar .user-info .user-avatar {
    border-radius: 5px;
    border: 3px solid #fff;
  }

  .user-show .col-4 .sidebar .user-info .user-avatar img {
    display: block;
    border-radius: 5px;
    width: 60px;
    height: 60px;
  }

  .user-show .col-4 .sidebar .user-info .user-name {
    height: 34px;
    color: #5c7390;
    position: relative;
    margin-left: 10px;
  }

  .user-show .col-4 .sidebar .card-body {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #465f70;
    padding: 0 0 0 20px;
  }

  .user-show .col-4 .sidebar .statistics .statistic {
    float: left !important;
    width: 50%;
    height: inherit;
    text-align: center;
    margin: 30px 0 30px 0;
  }

  .user-edit .col-8 .posts-container {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content {
    margin: 60px 30px;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .portrait {
    margin-left: 80px;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .portrait img {
    display: block;
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information {
    margin: 24px 0;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information label {
    float: left;
    font-size: 14px;
    color: #515a6e;
    line-height: 10.75px;
    padding: 10px 12px 10px 0;
    width: 80px;
    text-align: right;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text {
    margin-left: 80px;
    position: relative;
    font-size: 14px;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box {
    width: 300px;
    max-width: 100%;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box input {
    background-color: #f7f9fb;
    font-size: 14px;
    height: 30px;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box input::-webkit-input-placeholder {
    color: #c5c8ce;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c5c8ce;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c5c8ce;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c5c8ce;
  }

  .user-edit .col-8 .posts-container .ivu-form-item .ivu-form-item-content .ivu-information .ivu-input-type-text .ivu-input-box textarea {
    background-color: #f7f9fb;
    font-size: 14px;
    height: 110px;
  }

  .user-edit .col-4 .sidebar {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  }

  .user-edit .col-4 .sidebar .user-bg {
    height: 100px;
    background: #2d8cf0;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .user-edit .col-4 .sidebar .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin: -20px 16px 0;
  }

  .user-edit .col-4 .sidebar .user-info .user-avatar {
    border-radius: 5px;
    border: 3px solid #fff;
  }

  .user-edit .col-4 .sidebar .user-info .user-avatar img {
    display: block;
    border-radius: 5px;
    width: 60px;
    height: 60px;
  }

  .user-edit .col-4 .sidebar .user-info .user-name {
    height: 34px;
    color: #5c7390;
    position: relative;
    margin-left: 10px;
  }

  .user-edit .col-4 .sidebar .card-body {
    margin-top: 15px;
    padding: 0 0 0 20px;
  }

  .user-edit .col-4 .sidebar .menu-modify {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding-left: 20px;
  }

  .user-edit .col-4 .sidebar .menu-modify:hover {
    background-color: #f0faff;
    color: #2d8cf0;
  }

  .article-create {
    background-color: #ffffff;
    margin: 10px 16.5%;
    border-top: 2px solid #dce8f9;
    box-shadow: 0 0 1px #d3dce7;
  }

  .article-create .compose-wrap {
    min-height: 500px;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10% 30px;
  }

  .article-create .compose-wrap .type {
    margin: 0 197px;
  }

  .article-create .compose-wrap .type .ivu-radio-group-button {
    border-radius: 0 0 10px 10px !important;
    overflow: hidden;
  }

  .article-create .compose-wrap .type .ivu-radio-group-button .vu-radio-default {
    width: 58px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #2d8cf0;
    font-size: 14px;
    background-color: #dce8f9;
    float: left;
  }

  .article-create .compose-wrap .article .form-group {
    margin: 10px 0;
  }

  .article-create .compose-wrap .article .form-group input {
    height: 32px;
    font-size: 14px;
    border-radius: 0;
    border: none;
    resize: none;
    padding: 10px;
    background-color: #fafafa;
  }

  .article-create .compose-wrap .article .form-group input::-webkit-input-placeholder {
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group textarea {
    height: 125px;
    min-height: 125px;
    max-height: 230px;
    font-size: 14px;
    border-radius: 0;
    border: none;
    resize: none;
    padding: 10px;
    background-color: #fafafa;
  }

  .article-create .compose-wrap .article .form-group textarea::-webkit-input-placeholder {
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c5c8ce;
  }

  .article-create .compose-wrap .article .form-group select {
    width: 92px;
    height: 23px;
    font-size: 14px;
    position: absolute;
    top: 76px;
    padding: 0 0 0 7px;
    border-radius: 25px;
    background-color: #dce8f9;
    color: #2d8cf0;
  }

  .article-create .compose-wrap .article .form-group select option {
    font-size: 14px;
  }

  .article-create .compose-wrap .article .well-sm {
    float: right;
    margin: 19px 0 13px;
  }

  .article-create .compose-wrap .article .well-sm button {
    height: 32px;
    width: 60px;
    line-height: 18px;
    font-size: 14px;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
  }
}

.offset-md-2 {
  padding-top: 30px;
}

